<div class="row">
	<div class="col-md-3">					
		<div class="card">
			<div class="card-header">
				<b>Ultimi inseriti</b>
				<button class="btn btn-sm btn-success float-right" ng-click="addCliente()">Aggiungi</button>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item" style="border: none;"><input type="text" class="form-control" placeholder="Cerca un cliente"></li>
				<li class="list-group-item" style="border: none;" ng-repeat="cliente in clienti_last">
					<a ng-click="editCliente(cliente)">{{ cliente.cognome }} {{ cliente.nome }}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" width="20%">Cognome</th>
						<th scope="col" width="20%">Nome</th>
						<th scope="col" width="15%">Data nascita</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cliente in clienti" ng-click="editCliente(cliente)">
						<td>{{ cliente.cognome }}</td>
						<td>{{ cliente.nome }}</td>
						<td>{{ cliente.data_nascita }}</td>
						<td>{{ cliente.contatto.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
